*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F6F0EB;
  font-family: 'Poppins', sans-serif;
}

header{
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
}

a{
  text-decoration-line: none;
}

nav a{
  font-weight: 700;
  font-size: 20px;
  color: rgba(73, 33, 24, 1);
}
nav{
  display: flex;
  gap: 60px;
}