* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content{
  overflow-x: hidden;
  height: 100vh;
  scroll-behavior:smooth;
}

body {
  background-color: #f6f0eb;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  padding: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1290px;
}

a {
  text-decoration-line: none;
}

nav a {
  font-weight: 700;
  font-size: 20px;
  color: rgba(73, 33, 24, 1);
}

nav {
  display: flex;
}

nav a + a {
  margin-left: 60px;
}

main {
  margin: 0 24px;
}

.hero-section {
  margin-top: 100px;
}

img {
  width: 100%;
}

.image-container {
  max-width: 1290px;
  margin-inline: auto;
}

.hero-section p {
  color: rgba(73, 33, 24, 1);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

section .images {
  max-width: 1060px;
  margin-inline: auto;
}

section {
  margin-top: 120px;
}

section h2 {
  font-size: 48px;
  font-weight: 700;
  color: rgba(73, 33, 24, 1);
  text-align: center;
}

.go-to-top {
  position: absolute;
  bottom: 10px;
  right: 50px;
  padding: 20px;
  margin: 15px auto;
  font-size: 42px;
  border-radius: 65px;
  background-color: bisque;
}

.go-to-top:hover{
  transform: scale(1.2);
}

@media (max-width: 1200px) {
  nav a {
    font-size: 16px;
  }
  nav a + a {
    margin-left: 48px;
  }
  header {
    padding: 16px 24px;
  }
}

@media (max-width: 960px) {
  nav a {
    font-size: 12px;
  }
  nav a + a {
    margin-left: 32px;
  }
  .hero-section {
    margin-top: 32px;
  }
  section {
    margin-top: 42px;
  }
  .hero-section p {
    font-size: 10px;
  }
  section h2 {
    font-size: 14px;
  }
}
.close-icon {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  display: none;
}

.hamburger-menu-container {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
}

.hamburger-menu {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: -64px;
  right: -58px;
  cursor: pointer;
}

.hamburger-icon {
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.heading{
  color: #524c48 ;
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
}

table{
  width: 100%;
  border: 2px solid black;
  box-shadow: 0px 20px 50px sandybrown;
}




@media (max-width: 768px) {
  .header-container{
    min-height: 40px;
  }
  
  header {
    background-color: #f6f0ebb7;
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    padding: 8px 24px;
  }
  nav {
    position: absolute;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    right: -200px;
    top: 16px;
    padding: 24px;
    transition: right 0.5s ease-in-out;
  }
 

  nav a + a {
    margin: 0;
    margin-top: 16px;
  }

  .menu-open nav{
    right: 24px;
  }

  .menu-open .hamburger-menu-container{
    display: none;
  }
  

  .close-icon,
  .hamburger-menu-container {
    display: block;
  }
  .go-to-top {
    font-size: 16px;
  }
}
